body
{
	background-image: url("images/background.jpg");
}

a
{
	color: white;
	padding: 25px;
}


ul li
{
	color: white;
}

h1
{
	border: 2px solid blue;
	text-align: center;
	color: lightblue;
}


figure
{
	color: white;
}

table tr, td
{
	color: white;
}

caption
{
	color:yellow;
}

.john
{
	height:260px;
	width:220px;
}

.molly
{
	height:260px;
	width:200px;
}

.simon
{
	height:260px;
	width:200px;
}

