body
{
	background-image: url("images/background.jpg");
}

a
{
	color: white;
	padding: 25px;
}

p
{
	color: white;
}

ul li
{
	color: white;
}

h1
{
	border: 2px solid blue;
	text-align: center;
	color: lightblue;
}

h2
{
	color: yellow;
}

h3
{
	color: yellow;
}

h4
{
	color: red;
}

figure
{
	color: white;
}

table tr, td
{
	color: white;
}

caption
{
	color:yellow;
}

#www
{
	height:100px;
	width:100px;
}

#connections
{
	height:100px; 
	width:100px;
}

#url
{
	height:100px;
	width: 150px;
}

#technologies
{
	height:100px; 
	width:100px;
}

